@model DapperEx.Web.Models.UserModel

@{
    ViewBag.Title = "Saved user";
}

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USERID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_PSWD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_PSWD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRSTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRSTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PSWD_EXPIRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSWD_EXPIRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "About")
</p>
